* {
    box-sizing: border-box;
}

/* ni index html*/
.frontpage{
    background-color: gray;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frontpage .container {
    display: flex;
    width: 50%;
    height: 65vh;
    margin: auto;
    padding: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f519;
    gap: 20px;
    border: 3px solid black;
    border-radius: 8px;
}

.frontpage .box-links {
    display: flex;
    gap: 20px;
}

.frontpage h1 {
    margin: 0;
    text-align: center;
}

.frontpage .container .box {
    background-color: rgb(60, 124, 7);
    display: block;
    width: 200px;
    padding: 30px;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.frontpage .container .box a{
    text-decoration:none;
    color:black;
}

/*ni login.php*/
.loginpage {
    background-color: gray;
    text-align: center;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.loginpage .container {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    background-color: white;
    padding: 20px;
    width: fit-content;
    border:3px solid black;
    border-radius: 8px;
}

.loginpage .container .box0 input[type="text"],
.loginpage .container .box0 input[type="password"] {
    width: 350px;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 8px;
}

.loginpage .container .box1{
    background-color: rgb(13, 177, 13);
    width:fit-content;
    height:fit-content;
    border:2px solid gray;
    border-radius:8px;
    float:right;
}

.loginpage .container .box2{
   background-color: rgb(232, 18, 18);
    width:fit-content;
    height:fit-content;
    text-decoration: none;
    color: black;
    border:2px solid gray;
    border-radius:8px; 
    float:left;
}

/*ni homepage*/
body {
  font-family: Arial;
  margin: 0;
}

header{
    padding: 60px;
    text-align: center;
    background: rgb(70, 63, 179);
    color: white;
}


.navbar {
  display: flex;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 1000;
  justify-content: space-between;
  color: white;
  padding: 14px 20px;
  margin-bottom: 30px;
}

.navbar .page {
    display: flex;
    align-items: center;
}

.navbar .page a {
  color: white;
    display: inline-flex;
    align-items: center;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar .page a:hover {
  background-color: #ddd;
  color: black;
}

.cart {
    position: relative;
    background-color: white;
    color: black;
    font-size: 25px;
    padding: 5px;
    border-radius: 5px;
}

.cart-count{
    position:absolute;
    top:-8px; 
    right:-8px;
    font-size: 12px;
    background-color:red;
    color:white;
    padding:2px 5px;
    border-radius:5px;
}

.shop{
    display: grid;
    grid-template-columns: repeat(4,223px);
    gap:30px;
    justify-content: center;
}

@media (max-width:1000px) {
   .shop{
    grid-template-columns: repeat(2,223px);
   }
}

@media (max-width:500px) {
   .shop{
    grid-template-columns: repeat(1,223px);
   }
}

.shop .item{
    border: 2px solid black;
    border-radius: 4px;
}

.shop .item img{
    object-fit: cover;
    width: 220px;
    height: 220px;
}

.shop .item .details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap:4px;
}

.shop .item .details h3,
.shop .item .details p{
    margin: 0;
}

.shop .item .details .price-quantity{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop .item .details .price-quantity .buttons{
    display: flex;
    gap: 5px;
    font-style: 16px;
}

.bi-dash-lg{
    color:red;
}

.bi-plus-lg{
    color:green;
}

footer{
    text-align: center;
    padding: 20px;
    margin-top: auto;
}
